<!DOCTYPE html>
<html>
  <%- include('../partials/js'); -%>
  <%- include('../partials/head'); -%>
  <body class="container-fluid">
    <div class="jumbotron">
    	<%- include('../partials/header'); %>
    	<h4>Các món đã chọn</h3>
    	<form action="/order/add" method="POST">
    	<!-- <form> -->
	    	<table class="table table-bordered table-light">
	    		<thead>
	    			<tr>
	    				<th scope="col">STT</th>
	    				<th scope="col">Tên món ăn</th>
	    				<th scope="col">Đơn giá</th>
	    				<th scope="col">Số lượng</th>
	    				<th scope="col">Thành tiền</th>
		    			<th scope="col"></th>
	    			</tr>
	    		</thead>
	    		<tbody>
	    			<% var i = 0 %>
	    			<% for (var product of productList) { -%>
		    			<tr>
		    				<th scope="row" style="width: 4rem"><%= i %></th>
		    				<th><%= product.name %></th>
		    				<th class="product-price" style="width: 8rem"><%= product.price %>đ</th>
		    				<th style="width: 8rem">
		    					<input type="number" min="1" class="form-control product-amount" id="product-amount-<%= product.id %>" name="product-amount-<%= product.id %>" value="<%= productAmountList[i]%>">
		    				</th>
		    				<th class="product-total-price" style="width: 8rem"><%= product.price %>đ</th>
			    			<th style="width: 8rem">
			    				<button class="btn btn-danger cancel" id="cancel-<%= product.id %>">Huỷ món</button>
			    			</th>
		    			</tr>
	    			<% ++i } -%>
	    		</tbody>
	    	</table>
	    	<h4 id="total-price">Tổng tiền: </h4>
	    	<input type="hidden" name="totalPrice" id="totalPriceInput">
	    	<% if (productList.length > 0) { -%>
	    		<button type="submit" class="btn btn-primary btn-lg" id="submitButton">Gọi món</button>
	    	<% } else { -%>
	    		Thím cần chọn món trước khi gọi. <a href="/">Trở về...</a>
	    	<% } -%>
	    </form>
    </div>
  <script defer src="/javascripts/totalPrice.js"></script>
  <script defer src="/javascripts/chooseProductButton.js"></script>
  </body>
</html>
