<!DOCTYPE html>
<html>
  <%- include('../partials/js'); -%>
  <%- include('../partials/head'); -%>
  <body class="container-fluid">
    <div class="jumbotron">
    	<%- include('../partials/header'); %>
    	<div class="card">
    		<div class="card-body">
				<h3 class="card-title">Tên: <%- product.name %></h3>
				<div class="card-subtitle text-disable">Giá: <%- product.price %></div>
				<div class="card-text">Nguyên liệu: <%- product.ingredient %></div>
				<div class="card-text">Công thức: <%- product.recipe %></div>
				<div class="card-text"><%- product.description %></div>
			</div>
			<div class="card-footer">
				<% if (userID <= 0) { -%>
					<span>Bạn cần</span>
					<a class="ml-1 mr-1" href="/users/login">đăng nhập</a>
					<span>để chọn món này</span>
				<% } else { -%>
					<div class="btn-group w-25">
						<% if (isAdmin) { -%>
							<a href="/product/edit/<%- product.id %>" class="btn btn-primary w-100" id="checkboxButton<%- product.id %>">Sửa</a>
							<a href="/product/delete/<%- product.id %>" class="btn btn-danger w-100" id="checkboxButton<%- product.id %>">Xoá</a>
						<% } else { -%>
							<div class="btn btn-primary w-100 chooseProductButton" id="chooseProductButton-<%- product.id %>">Chọn món này</div>
						<% } -%>
					</div>
				<% } -%>
			</div>
		</div>
    </div>
  	<script defer src="/javascripts/chooseProductButton.js"></script>
  </body>
</html>
